*{
    background-color: aqua;
    
    
    margin: 0;

}
.login{
    align-items: center;
    display: block;
    margin: auto;

}
.form1{
    text-align: center;
    align-items: center;
    margin: 10px;
    padding: 2px;
    margin-bottom: 10px;
}
.select1{
    margin-bottom: 10px;
}
.one{
    padding: 5px;
    margin-bottom: 15px;
    
}
.two{
    padding: 5px;
    margin-bottom: 15px;
    
}
.three{
    padding: 5px;
    margin-bottom: 50px;
}
.four{
    padding: 5px;
    
}
.five{
    text-align: center;
}